<!-- HTML -->
<!doctype html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Flask + React</title>
    <link rel="stylesheet" href="/static/css/tw.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=stat_minus_1" />  </head>
  <body>
    <div id="root"></div>
   <script>
  window.__GMAPS_API_KEY = "{{ gmaps_api_key }}";
  window.__GMAPS_MAP_ID = "{{ gmaps_map_id }}";
</script>
<script type="module" src="../static/assets/frontend.js"></script>
  </body>
</html>
