<!-- HTML -->
<!doctype html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Flask + React</title>
    <link rel="stylesheet" href="/static/css/tw.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=stat_minus_1" />  </head>
  <body>
    <div id="root"></div>
   <script>
  window.__GMAPS_API_KEY = "AIzaSyAySBpQ3ArfbdNuS1tWBWgZ2p4plyJWF4M";
  window.__GMAPS_MAP_ID = "2e3f57ef15bcc3b8edd14882";

    // Optional: if you have a Map ID

</script>
<script type="module" src="../static/assets/frontend.js"></script>
  </body>
</html>
